/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

* {
  box-sizing: border-box;
  color: #222222;
  font-family: sans-serif; }

a {
  text-decoration: none;
  color: #222222; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'Avenir LT Pro 65';
  src: url("../fonts/AvenirLTPro-Black.eot");
  src: url("../fonts/AvenirLTPro-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/AvenirLTPro-Black.woff2") format("woff2"), url("../fonts/AvenirLTPro-Black.woff") format("woff"), url("../fonts/AvenirLTPro-Black.ttf") format("truetype"), url("../fonts/AvenirLTPro-Black.svg#AvenirLTPro-Black") format("svg");
  font-weight: 900;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Avenir LT Pro 65';
  src: url("../fonts/AvenirLTPro-BlackOblique.eot");
  src: url("../fonts/AvenirLTPro-BlackOblique.eot?#iefix") format("embedded-opentype"), url("../fonts/AvenirLTPro-BlackOblique.woff2") format("woff2"), url("../fonts/AvenirLTPro-BlackOblique.woff") format("woff"), url("../fonts/AvenirLTPro-BlackOblique.ttf") format("truetype"), url("../fonts/AvenirLTPro-BlackOblique.svg#AvenirLTPro-BlackOblique") format("svg");
  font-weight: 900;
  font-style: italic;
  font-display: swap; }

@font-face {
  font-family: 'Avenir LT Pro';
  src: url("../fonts/AvenirLTPro-Book.eot");
  src: url("../fonts/AvenirLTPro-Book.eot?#iefix") format("embedded-opentype"), url("../fonts/AvenirLTPro-Book.woff2") format("woff2"), url("../fonts/AvenirLTPro-Book.woff") format("woff"), url("../fonts/AvenirLTPro-Book.ttf") format("truetype"), url("../fonts/AvenirLTPro-Book.svg#AvenirLTPro-Book") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Avenir LT Pro 45 Book';
  src: url("../fonts/AvenirLTPro-BookOblique.eot");
  src: url("../fonts/AvenirLTPro-BookOblique.eot?#iefix") format("embedded-opentype"), url("../fonts/AvenirLTPro-BookOblique.woff2") format("woff2"), url("../fonts/AvenirLTPro-BookOblique.woff") format("woff"), url("../fonts/AvenirLTPro-BookOblique.ttf") format("truetype"), url("../fonts/AvenirLTPro-BookOblique.svg#AvenirLTPro-BookOblique") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Avenir LT Pro 55 Roman';
  src: url("../fonts/AvenirLTPro-Heavy.eot");
  src: url("../fonts/AvenirLTPro-Heavy.eot?#iefix") format("embedded-opentype"), url("../fonts/AvenirLTPro-Heavy.woff2") format("woff2"), url("../fonts/AvenirLTPro-Heavy.woff") format("woff"), url("../fonts/AvenirLTPro-Heavy.ttf") format("truetype"), url("../fonts/AvenirLTPro-Heavy.svg#AvenirLTPro-Heavy") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Avenir LT Pro 55 Roman Italic';
  src: url("../fonts/AvenirLTPro-HeavyOblique.eot");
  src: url("../fonts/AvenirLTPro-HeavyOblique.eot?#iefix") format("embedded-opentype"), url("../fonts/AvenirLTPro-HeavyOblique.woff2") format("woff2"), url("../fonts/AvenirLTPro-HeavyOblique.woff") format("woff"), url("../fonts/AvenirLTPro-HeavyOblique.ttf") format("truetype"), url("../fonts/AvenirLTPro-HeavyOblique.svg#AvenirLTPro-HeavyOblique") format("svg");
  font-weight: bold;
  font-style: italic;
  font-display: swap; }

@font-face {
  font-family: 'Avenir LT Pro';
  src: url("../fonts/AvenirLTPro-Light.eot");
  src: url("../fonts/AvenirLTPro-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/AvenirLTPro-Light.woff2") format("woff2"), url("../fonts/AvenirLTPro-Light.woff") format("woff"), url("../fonts/AvenirLTPro-Light.ttf") format("truetype"), url("../fonts/AvenirLTPro-Light.svg#AvenirLTPro-Light") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Avenir LT Pro 35';
  src: url("../fonts/AvenirLTPro-LightOblique.eot");
  src: url("../fonts/AvenirLTPro-LightOblique.eot?#iefix") format("embedded-opentype"), url("../fonts/AvenirLTPro-LightOblique.woff2") format("woff2"), url("../fonts/AvenirLTPro-LightOblique.woff") format("woff"), url("../fonts/AvenirLTPro-LightOblique.ttf") format("truetype"), url("../fonts/AvenirLTPro-LightOblique.svg#AvenirLTPro-LightOblique") format("svg");
  font-weight: 300;
  font-style: italic;
  font-display: swap; }

@font-face {
  font-family: 'Avenir LT Pro';
  src: url("../fonts/AvenirLTPro-Medium.eot");
  src: url("../fonts/AvenirLTPro-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/AvenirLTPro-Medium.woff2") format("woff2"), url("../fonts/AvenirLTPro-Medium.woff") format("woff"), url("../fonts/AvenirLTPro-Medium.ttf") format("truetype"), url("../fonts/AvenirLTPro-Medium.svg#AvenirLTPro-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Avenir LT Pro 65';
  src: url("../fonts/AvenirLTPro-MediumOblique.eot");
  src: url("../fonts/AvenirLTPro-MediumOblique.eot?#iefix") format("embedded-opentype"), url("../fonts/AvenirLTPro-MediumOblique.woff2") format("woff2"), url("../fonts/AvenirLTPro-MediumOblique.woff") format("woff"), url("../fonts/AvenirLTPro-MediumOblique.ttf") format("truetype"), url("../fonts/AvenirLTPro-MediumOblique.svg#AvenirLTPro-MediumOblique") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Avenir LT Pro 55 Roman';
  src: url("../fonts/AvenirLTPro-Oblique.eot");
  src: url("../fonts/AvenirLTPro-Oblique.eot?#iefix") format("embedded-opentype"), url("../fonts/AvenirLTPro-Oblique.woff2") format("woff2"), url("../fonts/AvenirLTPro-Oblique.woff") format("woff"), url("../fonts/AvenirLTPro-Oblique.ttf") format("truetype"), url("../fonts/AvenirLTPro-Oblique.svg#AvenirLTPro-Oblique") format("svg");
  font-weight: normal;
  font-style: italic;
  font-display: swap; }

@font-face {
  font-family: 'Avenir LT Pro';
  src: url("../fonts/AvenirLTPro-Roman.eot");
  src: url("../fonts/AvenirLTPro-Roman.eot?#iefix") format("embedded-opentype"), url("../fonts/AvenirLTPro-Roman.woff2") format("woff2"), url("../fonts/AvenirLTPro-Roman.woff") format("woff"), url("../fonts/AvenirLTPro-Roman.ttf") format("truetype"), url("../fonts/AvenirLTPro-Roman.svg#AvenirLTPro-Roman") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

.page-container .page-aside h3, .page-container .page-main-area .page-header .search-div input::placeholder, .page-container .page-main-area .page-header .header-right a:first-child, .page-container .page-main-area .page-header .header-right .btn-upload, .page-container .page-main-area .designers-section .designers-title a {
  font-size: 14px;
  font-family: "Avenir LT Pro 55 Roman";
  line-height: 19px; }

.page-container .page-main-area .page-header .header-right a:nth-child(2) .ball-div, .page-container .page-main-area .page-header .header-right a:nth-child(3) .ball-div {
  position: absolute;
  top: 0;
  right: 0;
  width: 10px;
  height: 10px;
  background-color: #FF2288;
  border-radius: 50%; }

.page-container {
  max-width: 1940px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: start; }
  .page-container .page-aside {
    width: 20vw;
    padding: 3rem 3rem 5rem 3rem;
    background-color: #222222; }
    .page-container .page-aside a, .page-container .page-aside h2, .page-container .page-aside h3 {
      color: #FFFFFF; }
    .page-container .page-aside a, .page-container .page-aside img {
      display: inline-block;
      vertical-align: middle; }
    .page-container .page-aside img {
      margin-right: 15px; }
    .page-container .page-aside .aside-top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 3rem; }
      .page-container .page-aside .aside-top .logo span {
        font-size: 24px;
        font-family: "Avenir LT Pro 65";
        line-height: 32px;
        font-weight: bold;
        color: #FFFFFF; }
      .page-container .page-aside .aside-top .logo {
        font-size: 24px;
        font-family: "Avenir LT Pro";
        line-height: 32px; }
      .page-container .page-aside .aside-top .burger-icon {
        cursor: pointer; }
    .page-container .page-aside .aside-middle {
      margin-bottom: 50px; }
      .page-container .page-aside .aside-middle .navbar-ul li {
        padding: 1rem 2rem 1rem 0.7rem;
        margin: 2.3rem 0;
        width: 100%; }
        .page-container .page-aside .aside-middle .navbar-ul li:first-child {
          background-color: #FF2288;
          border-radius: 10px; }
    .page-container .page-aside .aside-bottom {
      padding: 1rem 2rem 1rem 0.7rem; }
      .page-container .page-aside .aside-bottom h2:first-child {
        font-size: 12px;
        font-family: "Avenir LT Pro 55 Roman";
        line-height: 16px;
        margin-bottom: 25px; }
      .page-container .page-aside .aside-bottom li {
        margin: 20px 0; }
    .page-container .page-aside h3 {
      cursor: pointer; }
  .page-container .page-main-area {
    width: 80vw;
    overflow: hidden; }
    .page-container .page-main-area .page-header {
      width: 100%;
      padding: 0 3rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid rgba(0, 0, 0, 0.05);
      padding-bottom: 1rem;
      margin: 2rem 3rem 2rem 0; }
      .page-container .page-main-area .page-header * {
        display: inline-block;
        vertical-align: middle; }
      .page-container .page-main-area .page-header .search-div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 446px;
        height: 56px;
        padding: 0 2rem;
        border-radius: 0.8rem;
        background-color: #F8F8F8; }
        .page-container .page-main-area .page-header .search-div input {
          border: 0;
          background-color: #F8F8F8;
          outline: none; }
          .page-container .page-main-area .page-header .search-div input::placeholder {
            opacity: 0.5; }
        .page-container .page-main-area .page-header .search-div img {
          cursor: pointer; }
      .page-container .page-main-area .page-header .header-right a {
        margin-right: 1rem; }
        .page-container .page-main-area .page-header .header-right a:first-child {
          color: #FF2288; }
        .page-container .page-main-area .page-header .header-right a:nth-child(2), .page-container .page-main-area .page-header .header-right a:nth-child(3) {
          position: relative; }
      .page-container .page-main-area .page-header .header-right .btn-upload {
        border: 0;
        width: 129px;
        height: 56px;
        background-color: #FF2288;
        border-radius: 10px;
        color: #FFFFFF;
        text-transform: uppercase;
        cursor: pointer; }
    .page-container .page-main-area .page-main-sec {
      width: 100%;
      padding: 0 3rem;
      width: 100%; }
      .page-container .page-main-area .page-main-sec .main-filter {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap; }
        .page-container .page-main-area .page-main-sec .main-filter .filter-left {
          display: flex;
          justify-content: space-between;
          align-items: center; }
          .page-container .page-main-area .page-main-sec .main-filter .filter-left p {
            margin-right: 1rem;
            padding: 1rem;
            font-size: 16px;
            font-family: "Avenir LT Pro";
            line-height: 21px;
            cursor: pointer; }
            .page-container .page-main-area .page-main-sec .main-filter .filter-left p:first-child {
              background-color: #F2F2F2;
              border-radius: 10px; }
        .page-container .page-main-area .page-main-sec .main-filter .btn-filter {
          padding: 1rem;
          background-color: #FFFFFF;
          border-radius: 10px;
          border: 1px solid #D8D8D8;
          cursor: pointer; }
          .page-container .page-main-area .page-main-sec .main-filter .btn-filter img, .page-container .page-main-area .page-main-sec .main-filter .btn-filter p {
            display: inline-block;
            vertical-align: middle; }
          .page-container .page-main-area .page-main-sec .main-filter .btn-filter img {
            margin-right: 10px; }
      .page-container .page-main-area .page-main-sec .main-boxes {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap; }
        .page-container .page-main-area .page-main-sec .main-boxes .box {
          margin-bottom: 40px;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          width: calc(100% / 4);
          text-align: center; }
          .page-container .page-main-area .page-main-sec .main-boxes .box:first-child {
            position: relative; }
            .page-container .page-main-area .page-main-sec .main-boxes .box:first-child .icon1, .page-container .page-main-area .page-main-sec .main-boxes .box:first-child .icon2 {
              position: absolute;
              left: 3rem; }
            .page-container .page-main-area .page-main-sec .main-boxes .box:first-child .icon1 {
              top: 3rem; }
            .page-container .page-main-area .page-main-sec .main-boxes .box:first-child .icon2 {
              top: 6rem; }
          .page-container .page-main-area .page-main-sec .main-boxes .box p {
            font-size: 18px;
            font-family: "Avenir LT Pro";
            line-height: 24px; }
      .page-container .page-main-area .page-main-sec .btn-div {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 70px 0; }
        .page-container .page-main-area .page-main-sec .btn-div .btn-load_more {
          width: 289px;
          height: 56px;
          padding: 1rem 24px;
          font-size: 16px;
          font-family: "Avenir LT Pro 55 Roman";
          line-height: 21px;
          background-color: #F2F2F2;
          border-radius: 10px;
          color: #222222;
          border: 0;
          outline: none;
          cursor: pointer; }
    .page-container .page-main-area .designers-section {
      width: 100%;
      padding: 0 3rem;
      background-color: #FAFAFA; }
      .page-container .page-main-area .designers-section .designers-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 50px 0 80px 0; }
        .page-container .page-main-area .designers-section .designers-title h2 {
          font-size: 32px;
          font-family: "Avenir LT Pro 55 Roman";
          line-height: 43px; }
        .page-container .page-main-area .designers-section .designers-title a {
          opacity: 0.3; }
      .page-container .page-main-area .designers-section .designers-list {
        display: flex;
        justify-content: center;
        align-items: center; }
        .page-container .page-main-area .designers-section .designers-list div {
          width: calc(100% / 8);
          text-align: center; }
          .page-container .page-main-area .designers-section .designers-list div img, .page-container .page-main-area .designers-section .designers-list div h3, .page-container .page-main-area .designers-section .designers-list div p, .page-container .page-main-area .designers-section .designers-list div button {
            cursor: pointer; }
          .page-container .page-main-area .designers-section .designers-list div img {
            margin-bottom: 20px; }
          .page-container .page-main-area .designers-section .designers-list div h3 {
            font-size: 16px;
            font-family: "Avenir LT Pro";
            line-height: 21px; }
          .page-container .page-main-area .designers-section .designers-list div p {
            margin-top: 1rem;
            font-size: 12px;
            font-family: "Avenir LT Pro";
            line-height: 16px;
            letter-spacing: 0.3px;
            opacity: 0.6; }
          .page-container .page-main-area .designers-section .designers-list div:nth-child(5) p {
            margin-top: 2rem; }
          .page-container .page-main-area .designers-section .designers-list div button {
            width: 132px;
            height: 44px;
            margin: 20px 0 70px 0;
            background-color: #FAFAFA;
            border-radius: 10px;
            border: 1px solid #F2F2F2; }
          .page-container .page-main-area .designers-section .designers-list div:first-child button,
          .page-container .page-main-area .designers-section .designers-list div:nth-child(5) button {
            background-color: #F2F2F2;
            border-radius: 10px; }
    .page-container .page-main-area .page-footer {
      width: 100%;
      width: 100%;
      padding: 0 3rem;
      margin: 100px 0 40px 0; }
      .page-container .page-main-area .page-footer .footer-main {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start; }
        .page-container .page-main-area .page-footer .footer-main .footer-links {
          margin-right: 150px; }
          .page-container .page-main-area .page-footer .footer-main .footer-links h3 {
            margin-bottom: 50px; }
          .page-container .page-main-area .page-footer .footer-main .footer-links a {
            display: block;
            font-size: 16px;
            font-family: "Avenir LT Pro 55 Roman";
            line-height: 21px;
            margin: 25px 0; }
          .page-container .page-main-area .page-footer .footer-main .footer-links .inside-title {
            margin: 50px 0; }
      .page-container .page-main-area .page-footer .footer-bottom {
        display: flex;
        justify-content: space-between;
        align-items: center; }
        .page-container .page-main-area .page-footer .footer-bottom .footer-social-icons a {
          margin-right: 30px; }
        .page-container .page-main-area .page-footer .footer-bottom a {
          font-size: 16px;
          font-family: "Avenir LT Pro";
          line-height: 40px; }
          .page-container .page-main-area .page-footer .footer-bottom a span {
            font-family: 'Avenir LT Pro 65', sans-serif; }
