/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

* {
  box-sizing: border-box; }

a {
  text-decoration: none; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.page-container .page-aside .aside-middle .navbar-ul li:first-child, .page-container .page-main-area .page-header .header-right .btn-upload {
  background-color: #FF2288;
  border-radius: 10px; }

.page-container .page-aside h3, .page-container .page-main-area .page-header .search-div input::placeholder, .page-container .page-main-area .page-header .header-right a:first-child, .page-container .page-main-area .page-header .header-right .btn-upload {
  font-size: 14px;
  font-family: "avenir heavy";
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0; }

.page-container .page-main-area .page-header .header-right a:nth-child(2) .ball-div, .page-container .page-main-area .page-header .header-right a:nth-child(3) .ball-div {
  position: absolute;
  top: 0;
  right: 0;
  width: 10px;
  height: 10px;
  background-color: #FF2288;
  border-radius: 50%; }

.page-container {
  display: flex;
  justify-content: space-between;
  align-items: start; }
  .page-container .page-aside {
    width: 20vw;
    padding: 3rem 3rem 5rem 3rem;
    background-color: #222222; }
    @media (max-width: 1500px) {
      .page-container .page-aside {
        padding: 1rem 1rem 5rem 1rem; } }
    .page-container .page-aside a, .page-container .page-aside h2, .page-container .page-aside h3 {
      color: #FFFFFF; }
    .page-container .page-aside a, .page-container .page-aside img {
      display: inline-block;
      vertical-align: middle; }
    .page-container .page-aside img {
      margin-right: 15px; }
    .page-container .page-aside .aside-top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 3rem; }
      .page-container .page-aside .aside-top .logo span {
        font-size: 24px;
        font-family: Avenir;
        font-weight: bold;
        line-height: 32px;
        letter-spacing: 0; }
      .page-container .page-aside .aside-top .logo {
        font-size: 24px;
        font-family: Avenir;
        font-weight: 400;
        line-height: 32px;
        letter-spacing: 0; }
      .page-container .page-aside .aside-top .burger-icon {
        cursor: pointer; }
    .page-container .page-aside .aside-middle {
      margin-bottom: 50px; }
      .page-container .page-aside .aside-middle .navbar-ul li {
        padding: 1rem 2rem 1rem 0.7rem;
        margin: 2.3rem 0;
        width: 100%; }
    .page-container .page-aside .aside-bottom {
      padding: 1rem 2rem 1rem 0.7rem; }
      .page-container .page-aside .aside-bottom h2:first-child {
        font-size: 12px;
        font-family: "Avenir heavy";
        font-weight: 400;
        line-height: 16px;
        letter-spacing: 0;
        margin-bottom: 25px; }
      .page-container .page-aside .aside-bottom li {
        margin: 20px 0; }
    .page-container .page-aside h3 {
      cursor: pointer; }
  .page-container .page-main-area {
    width: 80vw; }
    .page-container .page-main-area .page-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid rgba(0, 0, 0, 0.05);
      padding-bottom: 1rem;
      margin: 2rem 3rem 2rem 2rem; }
      .page-container .page-main-area .page-header * {
        display: inline-block;
        vertical-align: middle; }
      .page-container .page-main-area .page-header .search-div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 446px;
        height: 56px;
        padding: 0 2rem;
        border-radius: 0.8rem;
        background-color: #F8F8F8; }
        @media (max-width: 1500px) {
          .page-container .page-main-area .page-header .search-div {
            width: 300px;
            height: 3rem; } }
        .page-container .page-main-area .page-header .search-div input {
          border: 0;
          background-color: #F8F8F8;
          outline: none; }
          .page-container .page-main-area .page-header .search-div input::placeholder {
            opacity: 0.5; }
        .page-container .page-main-area .page-header .search-div img {
          cursor: pointer; }
      .page-container .page-main-area .page-header .header-right a {
        margin-right: 1rem; }
        .page-container .page-main-area .page-header .header-right a:first-child {
          color: #FF2288; }
        .page-container .page-main-area .page-header .header-right a:nth-child(2), .page-container .page-main-area .page-header .header-right a:nth-child(3) {
          position: relative; }
      .page-container .page-main-area .page-header .header-right .btn-upload {
        border: 0;
        width: 129px;
        height: 56px;
        color: #FFFFFF;
        text-transform: uppercase;
        cursor: pointer; }
        @media (max-width: 1500px) {
          .page-container .page-main-area .page-header .header-right .btn-upload {
            width: 100px;
            height: 3rem; } }
