//  mixins
@mixin flex($horizontal, $vertical) {
    display: flex;
    justify-content: $horizontal;
    align-items: $vertical;
}

@mixin inline($horizontal) {
    display: inline-block;
    vertical-align: $horizontal;
}

@mixin font($size, $family, $height) {
    font-size: $size;
    font-family: $family;
    line-height: $height;
}

@mixin  bg-active($bg-color) {
    background-color: $bg-color;
    border-radius: 10px;
}

@mixin container($pad-right) {
    width: 100%;
    padding: 0 $pad-right;
}
