

// dafaruli

%font-01 {
    @include font(14px, 'Avenir LT Pro 55 Roman', 19px);
}

%ball {
    position: absolute;
    top: 0;
    right: 0;
    width: 10px;
    height: 10px;
    background-color: $color-03;
    border-radius: 50%;
}

%box-icon {
    .icon-div {
        display: block;
        position: absolute;
        top: $number-03;
        left: $number-03;
        background-color: $color-02;
        padding: 5px;
        width: 34px;
        height: 34px;
        border-radius: 10px;
        cursor: pointer;

        .icon1, .icon2 {
            &:hover {
                filter: invert(45%) sepia(97%) saturate(6238%) hue-rotate(318deg) brightness(102%) contrast(101%);
            }
        }
        &:hover {
            width: 40px;
            height: 40px;
        }
        @include respond(large) {
            width: 20px;
            height: 20px;
            padding: 2px;
            top: $number-02;
            left: $number-02;
            &:hover {
                width: 23px;
                height: 23px;
            }
        }
        transition: 0.3s all ease-in-out;
    }
    .icon-div {
        &:nth-child(2) {
            top: $number-05; 
            left: $number-03;
            @include respond(large) {
                top: 4rem;
                left: $number-02;
            }
        }
    }
}

%bg-gray-hover {
    &:hover {
        @include bg-active($color-05);
        letter-spacing: 2px;
        font-weight: 700;
        border-color: $color-05;
    }
}