$color-01: #222222;
$color-02: #FFFFFF;
$color-03: #FF2288;
$color-04: #111111;
$color-05: #F2F2F2;
$color-06: #FAFAFA;

$number-01: 1rem;
$number-02: 2rem;
$number-03: 3rem;
$number-04: 1.5rem;
$number-05: 6rem;
$number-06: 5rem;