@import './tools/reset.scss';
@import './tools/variables.scss';
@import './tools/mixins.scss';
@import './tools/media-queries.scss';
@import './tools/fonts.scss';
@import './tools/privates.scss';

@import './web-main-parts/page-aside.scss';
@import './web-main-parts/page-header.scss';
@import './web-main-parts/page-main-container.scss';
@import './web-main-parts/footer.scss';

@import './first-page-parts/main-filter.scss';
@import './first-page-parts/main-boxes.scss';
@import './first-page-parts/load-more.scss';
@import './first-page-parts/designers.scss';

@import './second-page-parts/second-page-table.scss';

