@import './reset.scss';

$color-01: #222222;
$color-02: #FFFFFF;
$color-03: #FF2288;
$color-04: #111111;

$number-01: 1rem;
$number-02: 2rem;
$number-03: 3rem;

//  mixins
@mixin flex($horizontal, $vertical) {
    display: flex;
    justify-content: $horizontal;
    align-items: $vertical;
}

@mixin inline($horizontal) {
    display: inline-block;
    vertical-align: $horizontal;
}

@mixin font($font-size, $font-family, $font-weight,$line-height, $letter-spacing) {
    font-size: $font-size;
    font-family: $font-family;
    font-weight: $font-weight;
    line-height: $line-height;
    letter-spacing: $letter-spacing;
}
// dafaruli
%bg-active {
    background-color: $color-03;
    border-radius: 10px;
}

%font-01 {
    @include font(14px, "avenir heavy", 500, 19px, 0);
}

%ball {
    position: absolute;
    top: 0;
    right: 0;
    width: 10px;
    height: 10px;
    background-color: $color-03;
    border-radius: 50%;
}


.page-container {
    @include flex(space-between, start);

    // page aside styles
    .page-aside {
        width: 20vw;
        padding: 3rem 3rem 5rem 3rem;
        @media (max-width: 1500px) {
            padding: 1rem 1rem 5rem 1rem;
        }

        background-color: $color-01;

        a, h2, h3 {
            color: $color-02;
        }

        a, img {
            @include inline(middle)
        }

        img {
            margin-right: 15px;
        }

        // aside top area
        .aside-top {
            @include flex(space-between, center);
            margin-bottom: 3rem;

            .logo span {
                @include font(24px, Avenir, bold, 32px, 0)
            }
    
            .logo {
                @include font(24px, Avenir, 400, 32px, 0)
            }

            .burger-icon {
                cursor: pointer;
            }
        }
        // aside middle area
        .aside-middle {
            .navbar-ul li  {
                padding: 1rem 2rem 1rem 0.7rem;
                margin: 2.3rem 0;
                width: 100%;
                &:first-child {
                    @extend %bg-active;
                }
                
            }
            margin-bottom: 50px;
        }
        // aside bottom area
        .aside-bottom {
            padding: 1rem 2rem 1rem 0.7rem;
            h2 {
                &:first-child {
                    @include font(12px, "Avenir heavy", 400, 16px, 0);
                    margin-bottom: 25px;
                }
            }
            
            li {
                margin: 20px 0;
            }

        }
        h3 {
            cursor: pointer;
            @extend %font-01;
        }
        
    }

    .page-main-area {
        width: 80vw;

        .page-header {
            @include flex(space-between, center);
            
            * {
                @include inline(middle);            
            }

            border-bottom: 1px solid rgba($color: #000000, $alpha: 0.05);
            padding-bottom: $number-01;
            margin: $number-02 $number-03 $number-02 $number-02;

            .search-div {
                @include flex(space-between, center);
                width: 446px;
                height: 56px;
                @media (max-width: 1500px) {
                    width: 300px;
                    height: $number-03;
                }
                padding: 0 $number-02;
                border-radius: 0.8rem;
                background-color: #F8F8F8;

                input {
                    border: 0;
                    background-color: #F8F8F8;
                    outline: none;
                    &::placeholder {
                        @extend %font-01;
                        opacity: 0.5;                            
                    }
                }

                img {
                    cursor: pointer;
                }

            }
            
            .header-right {
                a {
                    margin-right: $number-01;
                    &:first-child {
                        @extend %font-01;
                        color: $color-03;
                    }

                    &:nth-child(2), &:nth-child(3){
                        position: relative;

                        .ball-div {
                            @extend %ball;
                        }
                       
                    }

                }
                
                .btn-upload {
                    border: 0;
                    width: 129px;
                    height: 56px;
                    @media (max-width: 1500px) {
                        width: 100px;
                        height: $number-03;
                    }
                    @extend %bg-active;
                    @extend %font-01;
                    color: $color-02;
                    text-transform: uppercase;
                    cursor: pointer;
                }
            }

        }


    }
}