
.main-filter {
    width: 100%;
    @include flex(space-between, flex-start);

    @include respond(small) {
        margin-top: 80px;
    }
    
    .filter-left {
        @include flex(space-between, center);
        flex-wrap: wrap;

        @include respond(small) {
            display: none;
        }

        p {
            margin-right: $number-01;
            padding: $number-01;
            @include font(16px, 'Avenir LT Pro', 21px);
            cursor: pointer;
            @extend %bg-gray-hover;

            @include respond(large) {
                font-size: 12px;
                padding: 10px $number-01;
                margin-right: 10px;
            }
            
            transition: 0.3s ease-in;
        }

        .filter-active {
            @include bg-active($color-05);
        }
    }

    .btn-filter {
        padding: $number-01;
        @include flex(center, center);
        @include font(16px, 'Avenir LT Pro', 21px);
        @include bg-active($color-02);
        border: 1px solid #D8D8D8;
        @extend %bg-gray-hover;

        @include respond(large) {
            font-size: 12px;
            padding: 10px;
        }

        @media screen and (max-width: 480px) {
            width: 100%;
        }

        transition: 0.3s ease-in;
        cursor: pointer;

        img, p {
            @include inline(middle);
        }

        img {
            margin-right: 10px;
        }
    }
}